.button {
    padding: 16px 32px;
    border: 1px solid rgba(255, 8, 111, 1);
    color: rgba(255, 8, 111, 1);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 32px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
    font-weight: 600;
    min-width: 136px;
}


/* Light/White Button */
.button-light {
    background-color: #fff;
    border: none;
}


/* Primary Button */
.button-primary {
    background-color: rgba(255, 8, 111, 1);
    color: #fff;
}


/* Outline Button */
.button-outline {
    background-color: transparent;
}
@media (min-width: 768px) { 
    .inverse-size-button{
padding: 12px 24px; }
 }
