.photo_card{
  margin-bottom: 40px;
  height: 172px;
}

.photo_card .upper{
  height: 86px;
  width: 100%;
  background-color: #FDEFF0;
}

.photo_card .lower{
  height: 50px;
  width: 100%;
  padding: 7px 16px 16px 124px;
}

.p{
  color: rgba(17, 17, 17, 0.60);
font-size: 16px;
line-height: 150%; /* 24px */
letter-spacing: -0.64px;
}

.photo_card .image{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2.5px solid #FF086F;
  background: url(/images/doctor-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 40px;
  left: 16px;
  }


.collage_wrapper{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding-bottom: 80px;
}

.collage_block{
  height: 440px;
  display: flex;
  flex-direction: column;
}
.collage_image{
  width: 100%;
	height: 386px;
	position: relative;
  background-color: #FDEFF0;
  border-radius: 8px;
}

.collage_image img{
  object-fit: contain;
}

.name{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding-top: 8px;
}
.status{
  color: #111;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

  .header{
    color: #111;
font-size: 20px;
font-weight: 600;
letter-spacing: -0.72px;
  }

  .btn{
padding: 16px;
font-size: 16px;
  }
  .btn_2{
    border-radius: 4px;
border: 0.5px solid #A6B5E8;
width: 100%;
  }

  .outer_box, .inner_box{
    color: #111;
    font-size: 18px;
    letter-spacing: -0.72px;
    
    border-radius: 8px;
    border: 0.5px solid rgba(17, 17, 17, 0.20);
  }

  .outer_box{
display: flex;
column-gap: 8px;
padding: 16px;
  }

  .inner_box{
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
  }
  
  .resource{
    height: 0;
    overflow: hidden;
  }

@media screen and (min-width: 767px){
    .header{
      font-size: 24px;
      letter-spacing: -0.96px;
      }

      .collage_wrapper{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        row-gap: 40px;
      }
      
      .photo_card .upper{
        height: 182px;
      }
      
      .photo_card .lower{
        height: 100px;
        padding: 28px 16px 16px 364px;
      }
      
      .photo_card .image{
        width: 200px;
        height: 200px;
        border-radius: 200px;
        border-width: 5px;
        top: 68px;
        left: 148px;
        }

        .name{
          font-size: 20px;
        }
}